#main {
    /* add CSS here */
    max-width: 405px;
    max-height: 290px;
    margin: auto;
}
.pet {
    /* add CSS here */
    border-style: dashed;
    border-radius: 10px;
    box-shadow: 10px 10px 13px 8px grey;
    border-color: #fa0296;
    cursor: pointer;


}